workflow/Guest_Request_Handler.json
{
  "name": "Guest Request Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "6de901d1-a37c-469a-85f9-3b7cbdc6d1d3",
      "name": "Webhook",
      "webhookId": "e4e640d2-e2ef-4aee-9119-18f76c427dab"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "754534e5-1a8a-400a-8228-5307fcbbaa95",
              "name": "guestPhone",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "82b918ed-644f-47dc-abaf-fe0d0b2ca557",
              "name": "requestText",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "92814715-9ad0-4833-8009-6d03b6534b17",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/requests",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"guestPhone\": \"{{ $json.guestPhone }}\",\n  \"requestText\": \"{{ $json.requestText }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "e145094c-60b1-42d0-a492-ad924a4c8ae3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"Request received! Our staff will assist you soon.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        660,
        0
      ],
      "id": "b4fc6619-d5c0-4005-89dc-49c93ffc7046",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f57f39c8-a38d-4212-886f-7019a7b615f3",
  "meta": {
    "instanceId": "a3bdc8c39c5101874c93f2fd22c3f65ae1ac329bb47bf0c9fc0f50981c7d4152"
  },
  "id": "ZxLxrG8g0jFKopQc",
  "tags": []
}